body
{
    background-color: rgb(219, 243, 243)
}
.dangki
{
	border: solid 1px rgb(46, 152, 223);
	width:  550px;
	margin:30px auto;
	background-color: white;
}
.dangki h1
{
	font-size: 21px;
	text-align: center;
	font-weight: 850;
	color: white;
	font-family: Tahoma;
	background-color:rgb(46, 152, 223);
	padding: 15px 0px;
	margin: 0px;
}
.dangki div
{
	font-size: 17px;
	padding: 0px 0px 0px 20px;
	color: rgb(18, 74, 82);
	font-weight: 500;
	font-family: Tahoma;
	margin-top: 10px;
}
.dangki .text
{
	height: 27px;
	width: 90%;
	font-size: 17px;
}
.dangki #button
{
	margin: 10px 35% 10px;
	height: 36px;
	width: 150px;
	background-color: rgb(46, 152, 223);
	border: solid 2px rgb(46, 152, 223);
	font-weight: 500;
	font-family: Tahoma;
	color: white;
	font-size: 16px
}
.dangki p
{
	font-size: 15px;
	text-align: center;
	color: rgb(226, 69, 69);
	font-weight: 500;
	font-family: Tahoma;
}
.dangki .dangky
{
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;

}
.dangki .dangky a
{
    text-decoration: none;
    font-size: 16px;
    color: rgb(18, 74, 82);
}
.dangki .dangky a:hover
{
    color: rgb(245, 130, 88);
    text-decoration-line: underline;
}
