/****conbenphai****/
/*timkiem*/
.timkiem
{
    margin: 10px 0px;
    padding: 15px;
    text-align: center;
    border: 1px solid rgb(156, 206, 247);
    background-color: rgb(233, 241, 252);
}
.timkiem p
{
    font-weight: bold;
    color: rgb(62, 93, 117)
}
.timkiem form
{
    border-top: 1px solid rgb(156, 206, 247);
    padding: 13px 0px ;

}
.timkiem #form
{
    font-size: 14px;
    margin-bottom: 13px;
    border-radius: 30px;
    width: 225px;
    height: 35px;
    border-style: none;
}
.timkiem #submit
{
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(95, 161, 247);
    border: solid 1px rgb(95, 161, 247);
}
/*tư vấn*/
.tuvan
{
    margin: 20px 0px;
    padding: 13px;
    text-align: center;
    border: 1px solid rgb(156, 206, 247);
    background-color: rgb(233, 241, 252);
}
.tuvan div
{
    font-size: 14px;
    padding: 8px;
}
.tuvan div p
{
    font-weight: bold;
    color: rgb(62, 93, 117);
    font-size: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(156, 206, 247);
}
.tuvan a
{
    text-decoration: none;
    color: black;
}
/*docnhieunhat*/
.docnhieunhat
{
    border: 1px solid black;
    padding: 12px;  
    border: 1px solid rgb(156, 206, 247);
    background-color: rgb(233, 241, 252);
}
.docnhieunhat .docnhieunhat__tieude
{
    color:rgb(62, 93, 117);
    font-weight: bolder;
    text-align: center;
    font-size: 17px;
    margin-bottom: 8px;
    border-bottom: 1px rgb(156, 206, 247) solid;
}
.docnhieunhat div
{
    padding: 5px;
}
.docnhieunhat div a
{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.docnhieunhat div a:hover
{
    color: orangered;
}

/**khachsan**/
.khachsan1
{
    margin-top: 15px;
}
.khachsan1__tieude
{
    background-color: rgb(82, 183, 241);
    color: white;
    padding: 5px;
}
.khachsan1 ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 239, 239);
}
.khachsan1 ul li
{
    padding: 7px;
    border-bottom: 1px solid rgb(196, 196, 196);
}
.khachsan1 ul li a
{
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.khachsan1 ul li a:hover
{
    color: orangered;
}
.khachsan1 ul li img
{
    height: 76px;
    width: 95px;
}